.CartContainer{
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border: 1px solid white;
}
.cartContainer>img{
    height: 30px;
}